<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create new contact</h2>
  </div>
</div>
<div class="container">
  <div name="Form">
    <input type="file" id="avatar" class="form-control" name="avatar" accept="image/png, image/jpeg" ng-model="contact.profileimg">
    <p>
      <label>First Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required>
    </p>
    <p ng-show="contact.firstName.$invalid && !contact.firstName.$pristine" class="help-block">First name is required.</p>
    <p>
      <label>Last Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
    </p>
    <p ng-show="contact.lastName.$invalid && !contact.lastName.$pristine" class="help-block">Last name is required.</p>
    <p>
      <label>Email (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email"> 
    </p>
    <p>
      <label>Phone (Mobile)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
    </p>
    <p>
      <label>Phone (Work)</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
    </p>
    <p>
      <label>Address</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.address"> 
    </p>
    <p>
      <label>Twitter Handle</label> 
      <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-disabled="Form.$invalid" ng-click="saveContact(contact.$valid)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>